# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.d
objs/*
# */

#Generated Assembly Files
*.s

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Output
*Seeds.txt
*.ppm
*.sqlite
*.sqlite-shm
*.sqlite-wal
*.jpg
*.jpeg
*.obj.txt
English_Out.txt
Log.txt

#Environment files
.vscode*
*.c4droid*

#Local Test Files
*English_Analyzer_Test.txt
Test_Files/DBC/*.dbc