Deps/* linguist-vendored=true
deps/* linguist-vendored=true

./Deps/* linguist-vendored=true
./deps/* linguist-vendored=true



Deps/**/* linguist-vendored=true
deps/**/* linguist-vendored=true

./Deps/**/* linguist-vendored=true
./deps/**/* linguist-vendored=true


Deps/** linguist-vendored=true
deps/** linguist-vendored=true

./Deps/** linguist-vendored=true
./deps/** linguist-vendored=true

Deps/CLIPS/* linguist-vendored=true


*.h linguist-language=C++
